
    #sellout{
      width: 30%;
      margin-left: 35%;
      margin-top: 18px;
      background-color: 

      
    }
    .form-group{
      margin-top: 10px;
    }

    #sell{
      margin-top: 20px;
width: 90px;
background-color: #9FE2BF;
color: black;
border: solid white 1px;
    }
    body{


    }
    #ac{
    
font-size: 30px;
color: white;


    }
    label{
    color: white;
    }
    body{
      background-image: url("../img/sellback.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

