
    #sellout{
      width: 30%;
      margin-left: 35%;
      margin-top: 18px;
      background-color: ;

      
    }
    .form-group{
      margin-top: 10px;
    }

    #sell{
      margin-top: 25px;
width: 90px;
background-color: #9FE2BF;
color: black;
border: solid white 1px;
    }
    body{


    }
    #ac{
    
font-size: 30px;


    }
    label{
    color: white;
    }

